<header class="app-header">
    <div class="app-logo">
      <div class="logo">

          <img src="userimages/prsu.png" alt="" 
          >
        
      </div>
      <div >
        <span >PTRSU-LMS            
          <h6> <div class="red" style="color: red; margin-right: 10px;">Pt. Ravishankar Shukla University, Raipur</div>
          <div class="red" style="color: rgb(19, 9, 212);margin-right: 10px;">Chhattisgarh, India</div>
          NAAC Grade B++, Ranking by NIRF</h6>
        </span>
      </div>
    </div>
    <nav class="app-nav">
      <ul>
        <li>
          <a href="/profile">
        </a>
        </li>
   
        <li>
          <h5>
            <a href="/logout">
            <img
            src="userimages/logo/exit.png"
            alt="User Avatar"
            width="30"
            height="30"/>
            Logout</a></h5>
        </li>
      </ul>
    </nav>
  </header>